:root{

    /** COLORS **/
    --colorMain:#05CFFC;
    --colorSupport:#ffffff;  
    --colorCloud:#01758D;
    --colorText:#666666;  

    --colorWhite:#ffffff;
    --colorBack:#E5E5E5;  

    /** FONTS **/

    --fontMain:'Avenir', sans-serif;


    }